<?xml version="1.0" "UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rubios.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb380212609388497</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rubios.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rubiosweb-prod.azurewebsites.net</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rubios.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>order.rubios.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rubios.app.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rubiosweb-dev.azurewebsites.net</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>380212609388497</string>
	<key>FacebookClientToken</key>
	<string>abe2c58e16a0b7313b7b69358137d786</string>
	<key>FacebookDisplayName</key>
	<string>Rubio's</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
    <string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Rubio's needs to acces camera in order to scan reciepts for rewards.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Precise location is used to show you all locations closest to you. Explore and order ahead from the nearest stores and get directions for pickup.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Precise location is used to show you all locations closest to you. Explore and order ahead from the nearest stores and get directions for pickup.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Precise location is used to show you all locations closest to you. Explore and order ahead from the nearest stores and get directions for pickup.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Notifications may include alert, sounds and icon badges. These can be configured in Settings.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>GritSans-Bold.ttf</string>
		<string>GritSans.ttf</string>
		<string>LibreFranklin-Black.ttf</string>
		<string>LibreFranklin-BlackItalic.ttf</string>
		<string>LibreFranklin-Bold.ttf</string>
		<string>LibreFranklin-BoldItalic.ttf</string>
		<string>LibreFranklin-ExtraBold.ttf</string>
		<string>LibreFranklin-ExtraBoldItalic.ttf</string>
		<string>LibreFranklin-ExtraLight.ttf</string>
		<string>LibreFranklin-ExtraLightItalic.ttf</string>
		<string>LibreFranklin-Italic.ttf</string>
		<string>LibreFranklin-Light.ttf</string>
		<string>LibreFranklin-LightItalic.ttf</string>
		<string>LibreFranklin-Medium.ttf</string>
		<string>LibreFranklin-MediumItalic.ttf</string>
		<string>LibreFranklin-Regular.ttf</string>
		<string>LibreFranklin-SemiBold.ttf</string>
		<string>LibreFranklin-SemiBoldItalic.ttf</string>
		<string>LibreFranklin-Thin.ttf</string>
		<string>LibreFranklin-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
